<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heeverse.common.LockMapper">

    <select id="getLock" parameterType="com.heeverse.common.NamedLockInfo">
        SELECT GET_LOCK(#{lockName},${timeoutSeconds});
    </select>

    <select id="releaseLock" parameterType="com.heeverse.common.NamedLockInfo">
        SELECT RELEASE_LOCK(#{lockName});
    </select>

</mapper>