<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heeverse.ticket_order.domain.mapper.TicketOrderLogMapper">

    <insert id="insertTicketOrderLog" parameterType="java.util.List">
        INSERT INTO ticket_order_log(
            ticket_seq,
            concert_seq,
            member_seq,
            ticket_order_seq,
            create_datetime
        )
        VALUES
        <foreach item="ticketOrderLog" collection="list" separator=",">
            (
            #{ticketOrderLog.ticketSeq},
            #{ticketOrderLog.concertSeq},
            #{ticketOrderLog.memberSeq},
            #{ticketOrderLog.ticketOrderSeq},
            #{ticketOrderLog.createDateTime}
            )
        </foreach>
    </insert>

    <insert id="insertTicketOrderLogDeNormalization" parameterType="java.util.List">
        INSERT INTO ticket_order_log_denormalization_copy(
            concert_seq,
            ticket_seq,
            member_seq,
            grade_name,
            ticket_order_seq,
            create_datetime
        )
        VALUES
        <foreach item="ticketOrderLog" collection="list" separator=",">
            (
                #{ticketOrderLog.concertSeq},
                #{ticketOrderLog.ticketSeq},
                #{ticketOrderLog.memberSeq},
                #{ticketOrderLog.gradeName},
                #{ticketOrderLog.ticketOrderSeq},
                #{ticketOrderLog.createDateTime}
            )
        </foreach>
    </insert>

</mapper>